---
layout: default
title: Blog
---

<section class="blog">
  <h1>Latest Blog Posts</h1>
  <div class="container">
    {% for post in site.posts %}
      {% if post.category == "blog" %}
        <a class="blog-container" id="post" href="{{ post.url }}">
          <div class="title-excerpt">
            <h2>{{ post.title }}</h2>
            <img src="
            {% if post.cover %}
              {{ post.cover }}
            {% else %}
              /images/kortimup.png
            {% endif %}" alt="Your browser doesn't support the image. What kind of browser are you using?">
          </div>
          <div class="date-categories">
            <div class="categories">
              {% for tag in post.tags %}
                <div class="category">
                  {{ tag }}
                </div>
              {% endfor %}
            </div>
            <div class="date">
              <p>{{post.date | date_to_string}}</p>
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>