---
layout: default
title: News
---

<section class="blog">
  <h1>All News</h1>
  <div class="container">
    <h2>Newest</h2>
    {% assign news_posts = site.posts | where:"category","news" | where:"archived","false" %}
    {% for post in news_posts %}
    {% if post == news_posts.last %}
      <div class="news-post" id="last">
        <p><strong>{{ post.date | date_to_string }}</strong></p>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
      {% else %}
        <div class="news-post">
          <p><strong>{{ post.date | date_to_string }}</strong></p>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endif %}
    {% endfor %}

    <input class="archived-check" type="checkbox" id="archived"/>
    <label class="archived-button" for="archived">📜 Archived news...</label>

    <div class="archived-news">
      <h2>Archived</h2>
      {% assign archived_posts = site.posts | where:"category","news" | where:"archived","true" %}
      {% for post in archived_posts %}
        <div class="news-post">
          <p><strong>{{ post.date | date_to_string }}</strong></p>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>