.blog-post {
  background: $dark;
  color: $white;
  max-width: 64rem;
  margin: 0 auto;
  text-align: left;
  padding: 1rem 0.5rem;
  min-height: 25.5rem;

  p {
    margin-top: 0;
  }

  li {
    font-size: 1rem;
  }

  h1 {
    color: $white;
    font-size: 2rem;
    margin: 1rem 0;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  img {
    display: block;
    background-color: $darker;
    margin: 0 auto;
  }

  .video-background {
    text-align: center;
    width: 100%;
  
    iframe {
      width: calc(40vh / 9 * 16);
      height: 40vh;

      @media screen and (max-width: 769px) {
        width: 75vw;
        height: calc(80vw / 16 * 9);
      }
    }
  }
  

  .container {
    padding: 1rem 2rem;
    max-width: 90%;
    margin: auto;
  }

  .author-date {
    font-size: 1.25rem;
    text-align: left;
  }

  .cat {
    font-size: 1rem;
    text-transform: capitalize;
    display: inline-block;
    background-color: $darker;
    color: $white;
    margin-bottom: 1em;
    margin-right: .25em;
    padding: .5em;

    a {
      display: inline-block;
      color: $dark;
      padding: .5em;
    }
  }

  .content-body {
    margin-top: 0.5rem;
    text-align: left;
    p, li, ul {
      line-height: 1.7;
    }

    ol, ul {
      padding-left: 1.5rem;
    }

    a {
      text-decoration: underline;
      color: $greenLight;
    }
  }

  img {
    max-width: 100%;
    max-height: 50vh;
  }
}

@media screen and (max-width: 769px) {
  p, li, ul {
    font-size: .75rem;
  }

  .blog-post li {
    font-size: .75rem;
  }

  .blog-post {
    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1rem;
    }

    .cat {
      font-size: 0.8rem;
    }

    .container {
      padding: 0;
    }

    .author-date {
      font-size: 1rem;
    }
  }
}