.blog-post {
  background: $dark;
  color: $white;
  max-width: 64rem;
  margin: 0 auto;
  text-align: left;
  padding: 1rem 0.5rem;
  min-height: 25.5rem;

  p {
    margin-top: 0;
  }

  h1 {
    color: $gray;
    font-size: 3rem;
    margin: 1rem 0;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .video-background {
    position: relative;
    overflow: hidden;
    width: 60vw;
    height: 50vh;

    max-height: 35rem;

    @media screen and (max-width: 768px) {
      height: 32.5vh;
    }
  
    iframe {
      position: absolute;
      width: 60vw;
      height: 50vh;
      max-width: 57.5rem;
      max-height: 517.5px;

      @media screen and (max-width: 768px) {
        width: 85vw;
        height: 30vh;
      }
    }
  }
  

  .container {
    padding: 1rem 2rem;
    max-width: 90%;
    margin: auto;
  }

  .author-date {
    font-size: 1.25rem;
    text-align: left;
  }

  .cat {
    font-size: 1rem;
    text-transform: capitalize;
    display: inline-block;
    background-color: $darker;
    color: $white;
    margin-bottom: 1em;
    margin-right: .25em;
    padding: .5em;

    a {
      display: inline-block;
      color: $dark;
      padding: .5em;
    }
  }

  .content-body {
    margin-top: 0.5rem;
    font-size: 130%;
    text-align: justify;
    p, li, ul {
      line-height: 1.7rem;
    }

    ol, ul {
      padding-left: 1.5rem;
    }

    a {
      text-decoration: underline;
      color: $greenLight;
    }
  }

  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 769px) {
  p, li, ul {
    font-size: 1.5rem;
  }

  .blog-post {
    .container {
      padding: 0;
    }
  }
}