<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- For embeds outside the website. -->
    {% if page.layout == "post" %}
      <meta name="description" content="{{ page.content | strip_html | truncate: 150 }}" />

      <meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
      <meta property="og:site_name" content="https://kortimu.github.io" />
      <meta property="og:image" content="
      {% if page.cover %}
        {{ page.cover }}
      {% else %}
        /assets/images/wojack.png
      {% endif %}" />
      <meta property="og:description" content="{{ page.content | strip_html | truncate: 150 }}" />
      <meta name="theme-color" content="#b441cc">

      <!-- This makes the embedded image beeg. -->
      <meta name="twitter:card" content="summary_large_image">
    {% else %}
      <meta name="description" content="The home to all of my dumb stuff. Including this image." />

      <meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
      <meta property="og:site_name" content="https://kortimu.github.io" />
      <meta property="og:image" content="/assets/images/wojack.png" />
      <meta property="og:description" content="The home to all of my dumb stuff. Including this image." />
      <meta name="theme-color" content="#33984b">

      <!-- This makes the embedded image beeg. -->
      <meta name="twitter:card" content="summary_large_image">
    {% endif %}

    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/assets/images/favicon.ico">
    <link rel="prefetch" href="/assets/images/website-bg-2.png" as="image">
    <link rel="prefetch" href="/assets/images/website-bg-mobile-2.png" as="image">
    <title>{{page.title}} | {{site.title}}</title>
  </head>

  <body>
    <header>
      <nav>
        <a id="logo" href="/">
          <img src="/assets/images/kortimu-logo.png" width="64" height="64">
          <h1>
            Kortimu
          </h1>
        </a>

        <input class="hamnav-check" type="checkbox" id="hamburger"/>
        <label class="hamnav-button" for="hamburger">&#9776;</label>

        <div class="menu-links">
          <a class="hamnav" href="/" id="home"><b>Home</b></a>
          <a class="hamnav" href="/projects"><b>Projects</b></a>
          <a class="hamnav" href="/blog"><b>Blog</b></a>
          <a class="hamnav" href="/about" id="final"><b>About</b></a>
        </div>

        <input type="checkbox" id="news-check"/>
        <label id="news-button" tabindex="0" for="news-check">&#128227;</label>

        <div class="news-bar">
          {% assign news_posts = site.posts | where:"category","news" | where:"archived","false" %}
          {% for post in news_posts %}
            {% if forloop.index < 6 %}
              <a class="news-info" href="{{post.url}}">
                <b>{{post.title}}</b>
              </a>
            {% endif %}
          {% endfor %}
          <a class="news-info" href="/news">
            <b>📰 More...</b>
          </a>
        </div>

      </nav>
    </header>

      {{content}}

    <footer>
      <h1>Social</h1>
      <a href="https://www.github.com/Kortimu" target="_blank">Github</a>
      <a href="https://www.twitter.com/kortimu" target="_blank">Twitter</a>
    </footer>
  </body>
</html>